/* Global styles for the login page */
.background-page {
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  
  .form-container {
    background-color: #a9a9a9;
    border-radius: 10px;
    padding: 60px 40px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 2;
    width: 100%;
    max-width: 550px;
  }
  
  .btn-custom {
    background-color: #00ff00;
    color: #000;
    border: none;
  }
  
  .btn-custom:hover {
    background-color: #00e600;
  }
  
  .or-divider {
    text-align: center;
    margin: 15px 0;
  }
  
  .or-divider::before,
  .or-divider::after {
    content: "";
    display: inline-block;
    width: 30%;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
    vertical-align: middle;
  }
  
  .bottom-right-image {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 300px;
    height: auto;
    z-index: 1;
  }
  
  .background-circle {
    position: absolute;
    top: -20vh;
    left: -10%;
    width: 50vw;
    height: 45vw;
    border-radius: 50%;
    background-color: #a9a9a9;
    z-index: 1;
  }
  